/*
Global Styling
*/


body {
    margin: 0px;
    font-family: Trebuchet MS;
}

img {
    max-height: 100%;
    max-width: 100%;
}

/*
Global Header Styling
*/

.header {
    box-sizing: border-box;
    
    width: 100%;
    height: 60px;
    
    background-color: lightblue;   
}

.header #logopic {
    float: left;

    width: 60px;
    height: 50px;

    padding-top: 10px;
    padding-left: 10px;

    line-height: 50%;
}

.header .topnav {
    float: right;

    width: 100px;
    height: 40px;

    margin-top: 25px;
    margin-right: 10px;
}

.header #search {
    float: right;
    
    border-radius: 10px;
}

.header #profile {
    float: right;
    
    height: 50px;
    width: 50px;
    
    margin-top: 5px;

    background-color: black;
    color: white;
}

/*
Global Comments Styling
*/

.commenter-profile-picture {
    float: left;
    
    width: 25px;
    height: 25px;;
    
    background-color: black;
}

.commenter-name {
    float: left;
    
    margin-left: .5%;
    margin-bottom: auto;
    
    padding-top: 2px;
    
    font-weight: bold;
}


/*
Home Page Styling
*/


.home-inner {
    box-sizing: border-box;
    width: 75%;

    margin-left: auto;
    margin-right: auto;

    /* background-color: #f2f2f2; */
}

.home-inner .home-article {
    box-sizing: border-box;
    width: 100%;
    min-height: 20%;
    max-height: 30%;
    
    margin-top: 3%;

    background-color: lightgrey;
}

.home-inner .article-title {
    box-sizing: border-box;
    width: 100%;

    padding: 8px;                    
    
    font-size: 25pt;
    font-weight: bold;
    text-decoration: underline;
}

.home-inner .article-blurb {
    box-sizing: border-box;
    width: 90%;
    max-height: 10%;

    margin: auto;

    padding: 2px;

    border-color: black;
    border-width: 1.5px;
    border-style: solid;

    overflow: hidden;
    text-overflow: clip;
}

.home-inner .article-comments {
    box-sizing: border-box;

    margin-top: 10px;

    padding-bottom: 20px;
    
    font-size: 16pt;
    background-color: #bfbfbf;
}

.home-inner .comments-header {

    padding: 5px;

    font-weight: bold;
}
.home-inner .top-comment {
    
    width: 75%;
    min-height: 25px;
    max-height: 50px;
    
    margin-left: 20px;;
    margin-top: 4px;
    
    border-style: solid;
    border-color: black;

    font-size: 12pt;
}

.home-inner .comment-summary {
    box-sizing: border-box;
    
    margin-left: 0.5%;
    
    padding-top: 2px;
}


/*
Article Page Styling
*/


.article-inner {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1.5% 58% 1.5% auto 1.5%;    
    grid-template-areas: ". article . comments .";

    width:100%;
    height: auto;
}

.article-inner .article { 
    grid-area: article;

    padding-left: 10px;
    padding-right: 10px;

    background-color: #f2f2f2;
}

.article-inner .comments {
    grid-area: comments;
    align-self: start;

    height: auto;

    padding: 10px;
    
    background-color:#f2f2f2;
}

.article-inner .full-comment, .moused-comment {
    display: flex;
    flex-direction: column;

    width: auto;
    height: 125px;
    
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: .5%;
    
    border-style: solid;
    border-color: black;
    
    font-size: 12pt;
}

.article-inner .expanded-comment {
    display: flex;
    flex-direction: column;

    width: auto;
    height: auto;
    
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: .5%;
    
    border-style: solid;
    border-color: black;

    font-size: 12pt;
}

.article-inner .comment-buttons {
    width: auto;
    height: 33px;

    margin-top: auto;
    
    background: rgb(242,242,242);
    color: green;
}

.article-inner .comment-content {
    float: left;

    height: 100px;
    
    padding: 1.5%;

    overflow: hidden;
    text-overflow: clip;
}

.article-inner .expanded-content {
    float: left;

    height: auto;

    padding: 1.5%;
}
